extends layout

block content
  h2 here comes
  h1= title
  if title == "Bob Johnson!"
    div.bob
      h3 oh, wait...

  div.reload
    h2
      a(href=".") new name

  div.credit
    h3
      | rydermatic by 
      a(href="https://buckar.ooo")  alex cline
