body
  padding: 50px
  font: 14px system-ui, -apple-system, "Lucida Grande", Helvetica, Cantarell, Arial, sans-serif

a
  color: #00B7FF
  text-decoration: none
  &:hover
    text-decoration: underline

h1
  font-size: 9vw
  margin: 0px

h2
  font-size: 3vw
  margin: 3px

h3
  font-size: 2vw
  color: grey

.bob
  margin-top: -5px
  margin-left: 20%

.reload
  position: absolute
  float: right
  right: 7%

.credit
  position: absolute
  bottom: 4%
  right: 7%
  float: right

//.guys
  position: absolute
  bottom: 0
  left: 0
  margin-right: -50px
  height: 40%
  width: 100%
  background-image: url('../images/mst3k.png')
  background-position: right
  background-repeat: no-repeat
  background-size: cover
  z-index: -1
